<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="conexao" value="Persist Security Info=False; server=localhost;user id=root;database=dbctimer;pooling = false;convert zero datetime=True"/>
 
    </appSettings>
</configuration>

